
/*! ************768PX***************/
    
/*!INFO*/
@media screen and (min-width:768px) {
.container{
    max-width: 770px;
}
.card{
    margin: 10px;
    flex-basis: calc(100% / 3 - 20px);
}
.benefits .card{
    margin: 10px;
    flex-basis: calc(100% / 2 - 20px);
}

.info .card:first-child{
    flex-basis: calc(100% / 3 * 2 - 20px);
}

.row{
    display: flex;
    flex-direction: row;
}

.info-card .card i:first-of-type {
    font-size: 65px;
}


/*!testimonial*/

.test-faces .row{
    flex-direction: column;
}
.test-faces .card{
    max-width: 100%;
    display: flex;
    width: 100%;
}
.card .face-info{
    align-self: center;
    margin: 15px;
}
/*!benefits*/
.benefits .row{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}



/*!about us*/
.about-body{
    display: flex;
}




}
/*! ***************1200PX***********/
@media screen and (min-width: 1190px) {
    .container{
        max-width: 1200px;
        margin: auto;
    }

     ul{
        display:flex;
    }

    .nav-link i{
        display: none;
    }



    .main-pic{
        width: 300px;
    }

    .main-card-flex{
        display: flex;
    }



    .benefits .card{
        margin: 10px;
        flex-basis: calc(100% / 3 - 20px);
    }

    .pres-body{
        flex-direction: row;
        justify-content: center;
    }
    .pres-img,.bot-img{
        width: 400px;
    }
    .pres-bot{
        position: relative;
        top: 250px;
        margin-bottom: 260px;
    }
}