
/*! ************768PX***************/
    
/*!INFO*/
@media screen and (min-width:768px) {
.container{
    max-width: 770px;
}
.card{
    margin: 10px;
}
.row .main-cards{
    display: flex;
    flex-direction: row;
}
.main-col{
    flex-direction: row;
}
.info-card .card i:first-of-type {
    font-size: 65px;
}


/*!testimonial*/

.test-faces .row{
    flex-direction: row;
}
.test-faces .card{
    max-width: 100%;
    display: flex;
}
.card .face-info{
    align-self: center;
    margin: 15px;
}






}
/*! ***************1200PX***********/
