*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'PT Sans', sans-serif;;
}
/*!utilità*/
.container{
    max-width: 580px;
    margin: 0 auto;
    padding: 10px 25px;
}
.bordo{
    border: 2px solid black;
}
.flex{
    display: flex;
}
.row{
    flex-direction: column;
    align-items: center;
}
.mtm{
    margin-top: 25px;
}
.mbs{
    margin-bottom: 15px;
}
.alt-bgc{
    background-color: #9792e4;
}
.ali{
text-align: center;
}
img{
    max-width: 100%;
}
/*! BODY*/
body{
    padding-top: 100px;
}
/*!HEADER*/
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #0084fd;
    z-index: 1;
}
/*!NAV*/
.nav-container{
    min-height: 100px;
    justify-content: space-between;
}
.nav-container > *{
    border: 2px dashed red;
    min-width: 100px;
}
.nav-container .nav-logo{
    align-items: center;
}
.nav-link{
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
/*!MAIN*/
main{
    background-color: white;
}
.info-cards .row{
    flex-wrap: wrap;
    padding: 25px;
}
.card{
    border: 2px dashed red;
    border-radius: 50px;
    margin-bottom: 15px;
    padding: 25px 25px 0 25px;
    max-width: 300px;
}
.info-cards  .card{
    background-color: #b5ddff;
}
.card h3:first-of-type{
    color: #0084fd;
    font-size: 25px;
}
.info-cards .card i:first-of-type{
    color: #0084fd;
    font-size: 90px;
}
.apple-btn{
    padding: 10px 60px;
    color: white;
    background-color:#0084fd ;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}
.txt-wrapper img{
    position: relative;
    left: 50px;
    bottom: -5px;
    max-width: 70%;
}
.main-cards{
    flex-direction: column;
}
.main-col{
    flex-direction: column;
}

/* !PRESENTATION*/
.presentation{
    padding: 25px;
}
.pres-body>*{
    display: flex;
    justify-content: center;
}
.pres-top img{
    width: 100%;
}
.pres-info h2{
    color: white;
    font-size: 35px;
    text-align: center;
}
.pres-info{
    flex-direction: column;
    padding: 40px;
}
.pres-info p{
    color: white;
    font-size: 17px;
}
 .pres-bot .card{
    background-color: #fff;
}
.pres-bot h2,p{
    text-align: center;
}
.pres-arrow{
    height: 50px;
    width: 50px;
    background-color: #9792e4;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    margin-top: 25px;
}
.pres-arrow i{
    position: relative;
    top: 15px;
    font-size: 20px;
}

/*!TESTIMONIALS */
.test-title{
    height: 200px;
    margin-bottom: 25px;
}
.test-title>*{
    border: 1px solid blue;
    height: calc(100% / 3);
}

.face,
.face-info{
    height: 50%;
    border: 1px solid gray;
}
/*!BENEFITS*/

.bene-title{
    height: 100px;
}
.bene-body .card{
    background-color: #fff;
}

.bene-body{
    margin-top: 20px;
}
/*!ABOUT US*/
.about-body{
    min-height: 400px;
}
.about-info,
.about-img{
    border: 1px solid red;
    min-height: 200px;
}
/*!PROMOTION*/
.promo-body{
    min-height: 200px;
    border: 1px solid blue;
}
/*!FOOTER*/
footer{
    background-color: rgb(63, 63, 63);
}
.foot-body{
    min-height: 200px;
    border: 2px solid wheat;
}